
#content {
    max-width: 60%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;

    background-color: rgb(57, 102, 170);
    color: white;
}

img {
    width: 100px;
}

footer {
    text-align: center;
    background-color: rgb(57, 102, 170);
}

.p1 {
    color: white;
}

.p2 {
    color: rgb(80, 221, 80);
}
