
#content {
    max-width: 60%;
    justify-items: center;
}

header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;

    background-color: rgb(57, 102, 170);
    color: white;
}


footer {
    text-align: center;
    background-color: rgb(57, 102, 170);
}

.p1 {
    color: white;
}

.p2 {
    color: green;
}
