
body {
    font-family: sans-serif;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 400px;
}

#title {
    background-color: rgb(76, 60, 87);
    color: white;
}

#services {
    background-color: rgb(76, 60, 87);
    color: white;
}

th, td {
    padding: 15px;
    margin: 0;
}

tbody tr:nth-of-type(even) {
    background-color: rgb(184, 178, 188);
}

caption {
    caption-side: bottom;
    font-size: 14px;
}
