
/* CSS for all pages */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(94, 66, 88);
    justify-content: space-between;
}
.link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}
img {
    display: block;
    width: 150px;
    padding: 20px;
    margin: 0 auto;
}

/* CSS for target-audience.html */

#audience {
    border: 5px solid rgb(171, 188, 203);
    padding: 10px;
    margin: 10px;
}

#personas {
    border: 5px solid rgb(40, 62, 130);
    padding: 10px;
    margin: 10px;
}

#scenarios {
    border: 5px solid rgb(171, 211, 180);
    padding: 10px;
    margin: 10px;
}