
/* CSS for all pages */
body {
    font-family: 'Raleway', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(94, 66, 88);
    justify-content: space-between;
}
.link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}
#logo {
    display: block;
    width: 150px;
    padding: 20px;
    margin: 0 auto;
}
#date {
    /* in header */
}

/* add footer css */

/* background-color: rgb(171, 188, 203);
    color: black;
    background-color: rgb(171, 211, 180);
    color: black;
    background-color: rgb(40, 62, 130);
    color: white;
 */

/* CSS for index.html */
