
/* COLORS:
    BLUE: rgb(171, 188, 203)
    GREEN: rgb(64, 99, 72)
    DK-BLUE: rgb(40, 62, 130)
*/

/* CSS for all pages */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
}

#message {
    display: none;
    background-color: rgb(40, 62, 130);
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.top {
    display: flex;
    flex-direction: column;
}

.logo-h {
    width: 150px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 66, 88);
}

.menu::before {
	content: "≡";
	font-size: 2rem;
    color: white;
    padding: 10px;
}

.navigation {
    list-style: none;
	margin: 0;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	text-align: left;
	text-decoration: none;
}

.responsive li {
	display: block;
}

.link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.link:hover {
    background-color: rgb(171, 188, 203);
    color: black;
}

.social {
    background-color: rgb(171, 188, 203);
    color: black;
    text-decoration: none;
    padding: 10px;
}

.social:hover {
    background-color: rgb(94, 66, 88);
    color: white;
}

.date {
    background-color: rgb(94, 66, 88);
    color: white;
    padding: 10px;
    text-align: center;
}

/* footer css */
footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 99, 72);
    color: white;
    text-align: center;
}

.logo-f {
    width: 100px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
}

.info, .base {
    text-align: center;
    margin: 0 auto;
}


/* CSS for index.html */

#hero {
    background-color: rgb(171, 188, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
}

#hero img {
    width: auto;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

#hero h2 {
    max-width: 400px;
    margin: 8px auto;
}

#news, #events, #weather, #join, .spotlights {
    background-color: rgb(171, 188, 203);
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

#weather-icon {
    width: 80px;
    height: auto;
}

/* CSS for discover.html */

/* .visit-msg {
    font-size: 1.2em;
    text-align: center;
} */

.images {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images img {
    width: 300px;
    height: auto;
    border: 5px solid black;
    padding: 5px;
    margin: 20px auto;
}

/* CSS for join.html */
#join-msg {
    text-align: center;
}

fieldset {
    width: 50%;
    margin: 20px auto;
}

form label.style1, form div, form input {
    --webkit-appearance: none;
    display: block;
}

form input {
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    padding: 5px;
    margin: 10px;
}

form label.radio {
    display: flex;
    flex-direction: row;
}

form label.style1 input:required {
    border-left: red solid 6px;
}

form label.style1 input:required:valid {
    border-left: green solid 6px;
}

form input.submitBtn {
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

/* CSS for directory.html and index.html spotlights */
.businesses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;
}

.card {
    background-color: rgb(171, 188, 203);
    grid-auto-flow: row;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px auto;
    padding: 10px;
}

.card img {
    margin: 0 auto;
}

.spotlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;
}

.spotlight {
    background-color: rgb(171, 188, 203);
    grid-auto-flow: row;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px auto;
    padding: 10px;
    max-width: 400px;
}

.spotlight img {
    margin: 0 auto;
}


@media only screen and (min-width: 730px) {
    /* medium view -- with hamburger and links */

    .top {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .logo-h {
        grid-column: 1/2;
    }

    .title {
        grid-column: 2/3;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #hero, #news, #events, #weather, #join, .spotlights {
        margin: 10px;
    }
    
    #hero {
        grid-column: 1/3;
    }

    #hero img, #hero h2 {
        max-width: 500px;
    }

    .img-three {
        width: 40%;
        height: auto;
    }
    
    #weather {
        grid-column: 1/2;
    }
    
    #join {
        grid-column: 2/3;
    }
    
    .businesses, .spotlights {
        grid-column: 1/3;
    }

    .card img, .spotlight img {
        width: 340px;
    }

    /* .visit-msg,  */
    .images {
        grid-column: 1/3;
    }

    .images img {
        width: 500px;
        transition: transform .2s;
    }

    .images img:hover {
        transform: scale(1.1);
    }

    .images img:last-of-type, .images img:first-of-type {
        width: 450px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px auto;
        text-align: justify;
    }

    .logo-f {
        grid-column: 1/3;
        margin: 0 auto;
    }

    .info {
        grid-column: 1/2;
    }
    
    .base {
        grid-column: 2/3;
    }

    #join-msg, form {
        grid-column: 1/4;
    }
}

@media only screen and (min-width: 950px) {
    /* large view -- with all links */

    .top {
        flex-direction: row;
    }

    .logo-h {
        width: 170px;
        padding: 20px;
    }
    
    .title {
        display: block;
        padding-left: 0;
        margin-left: 0;
        padding-right: 4.5%;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #hero, #news, #events, #weather, #join, .spotlights {
        margin: 10px;
    }
    
    #hero {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1/4;
    }

    #hero img, #hero h2 {
        max-width: 900px;
    }

    .img-three {
        width: 40%;
    }
    
    #news {
        grid-column: 1/2;
    }
    
    #events {
        grid-column: 2/3;
    }
    
    #weather {
        grid-column: 3/4;
    }
    
    #join {
        grid-column: 1/4;
    }
    
    .businesses, .spotlights {
        grid-column: 1/4;
    }

    .card img, .spotlight img {
        width: 340px;
    }

    footer {
        display: flex;
    }

    .info, .base {
        display: flex;
        flex-direction: row;
    }

    .info p, .base p {
        padding: 10px;
    }

    /* .visit-msg,  */
    .images {
        grid-column: 1/4;
    }

    .images img {
        transition: transform .2s;
    }

    .images img:hover {
        transform: scale(1.1);
    }
}
