
/* COLORS:
    BLUE: rgb(171, 188, 203)
    GREEN: rgb(64, 99, 72)
    DK-BLUE: rgb(40, 62, 130)
*/

/* CSS for all pages */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    font-weight: 400;
}

main, .top {
    display: flex;
    flex-direction: column;
}

#message {
    display: none;
    background-color: rgb(40, 62, 130);
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.logo-h {
    width: 150px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 66, 88);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.menu::before {
    background-color: rgb(171, 188, 203);
    color: black;
	content: "≡";
	font-size: 1em;
    padding: 0 15px;
}

.navigation {
    background-color: rgb(171, 188, 203);
    color: black;
    list-style: none;
	margin: 0;
	padding: 0;
}

.navigation a:first-child {
	display: block;
}

.navigation a {
    font-size: 30px;
	display: block;
	text-align: left;
	text-decoration: none;
    margin: 0;
    padding: 10px;
    padding-top: 20px;
}

.responsive a {
	display: none;
}

.link {
    background-color: rgb(171, 188, 203);
    color: black;
    text-decoration: none;
}

.link:hover {
    background-color: rgb(64, 99, 72);
    color: white;
}

.logo {
    width: 40px;
    height: auto;
    padding: 0;
    margin: 0;
}

/* footer css */
footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 99, 72);
    color: white;
    text-align: center;
}

.logo-f {
    width: 100px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
}

.info, .base {
    text-align: center;
    margin: 0 auto;
}

/* CSS for index.html */
#hero {
    background-color: rgb(171, 188, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
}

#hero img {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

#hero h2 {
    max-width: 400px;
    margin: 8px auto;
}

#news, #events, #weather, #join, .spotlights {
    background-color: rgb(171, 188, 203);
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

#weather-icon {
    width: 80px;
    height: auto;
}

/* CSS for discover.html */

/* .visit-msg {
    font-size: 1.2em;
    text-align: center;
} */

.images {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images img {
    width: 300px;
    height: auto;
    border: 5px solid black;
    padding: 5px;
    margin: 20px auto;
}

/* CSS for directory.html and home page spotlights */
.businesses, .spotlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 5px 0;
}

.card, .spotlight {
    background-color: rgb(171, 188, 203);
    grid-auto-flow: row;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px auto;
    padding: 10px;
    max-width: fit-content;
}

.card img, .spotlight img {
    margin: 0 auto;
    width: 300px;
}

/* CSS for join.html */
#join-msg {
    text-align: center;
}

.membership-info {
    text-align: center;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    width: 400px;
}

#memberships {
    background-color: rgb(64, 99, 72);
    color: white;
}

th, td {
    padding: 5px;
    margin: 0;
}

tbody tr:nth-of-type(even) {
    background-color: rgb(171, 188, 203);
}

caption {
    caption-side: bottom;
    font-size: 14px;
}

fieldset {
    margin: 20px auto;
    max-width: 500px;
}

form label.style1, form div, form input {
    --webkit-appearance: none;
    display: block;
}

form input {
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    padding: 5px;
    margin: 10px;
}

form label.radio {
    display: flex;
    flex-direction: row;
}

form label.style1 input:required {
    border-left: red solid 6px;
}

form label.style1 input:required:valid {
    border-left: green solid 6px;
}

form input.submitBtn {
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

/* CSS for contact page */
#contact-info {
    border: 15px solid rgb(171, 188, 203);
    text-align: center;
}

@media only screen and (min-width: 800px) {
    /* medium view -- with hamburger and links */

    .top {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .logo-h {
        grid-column: 1/2;
    }

    .title {
        grid-column: 2/3;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #home {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #hero, #news, #events, #weather, #join, .spotlights {
        margin: 10px;
    }
    
    #hero {
        grid-column: 1/3;
    }

    #hero h2 {
        max-width: 500px;
    }

    #hero img {
        width: 400px;
        height: auto;
        margin: 0 auto;
    }
    
    #weather {
        grid-column: 1/2;
    }
    
    #join {
        grid-column: 2/3;
    }
    
    .spotlights {
        grid-column: 1/3;
    }

    .spotlight, .card {
        margin: 10px auto;
        max-width: 400px;
    }

    .images img {
        width: 500px;
        transition: transform .2s;
    }

    .images img:hover {
        transform: scale(1.1);
    }

    .images img:last-of-type, .images img:first-of-type {
        width: 450px;
    }

    .logo-f {
        margin: 0 auto;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 5px;
    }

    .info p {
        grid-auto-flow: row;
    }

    th, td {
        padding: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    /* large view -- with all links */

    .top {
        flex-direction: row;
    }

    .logo-h {
        width: 170px;
        padding: 20px;
    }
    
    .title {
        display: block;
        padding-left: 30px;
        margin-left: 0;
        padding-right: 4.5%;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

	.navigation a {
		display: block; 
		flex: 1 1 auto;
        text-align: center;
	}

	.navigation a:first-child {
		display: none;
	}

    #home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 35% 40% 25%;
    }

    #hero, #news, #events, #weather, #join, .spotlights {
        margin: 10px;
    }
    
    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #hero img {
        width: 450px;
    }

    #news {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    #events {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    #weather {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .card img, .spotlight img {
        width: 300px;
    }

    .base {
        display: flex;
        flex-direction: row;
    }

    .base p {
        padding: 20px;
    }

    .images img {
        transition: transform .2s;
    }

    .images img:hover {
        transform: scale(1.1);
    }

}
